.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 1.5rem;
  .gallery {
    max-width: 100%;
    // max-height: 100vh;
    max-height: 300px;
    // border: 1px solid $secondary;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .left-about {
    padding-right: 1rem;
    display: flex;
    align-items: center;
    /* Vertically center align */
    justify-content: center;
    /* Horizontally center align */
    height: auto;
    // text-align: start;
    overflow: auto;
    // max-height: 350px;
    p {
      // text-align: center;
      line-height: 1.5rem;
      padding: 1rem;
      color: $grey-1;
      .about-span {
        color: $secondary;
      }
      // span:nth-of-type(1) {
      //   font-size: 1.5rem;
      //   font-style: italic;
      // }
    }
    h4 {
      text-transform: uppercase;
      font-size: 2rem;
      text-align: center;
    }
    .main-btn {
      margin-top: 3rem;
    }
  }
}

.about-stats {
  padding-bottom: 4rem;
  .progress-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    .progress-bar {
      display: flex;
      flex-direction: column;
      .prog-title {
        text-transform: uppercase;
        font-weight: 500;
      }
      .progress-con {
        display: flex;
        align-items: center;
        .prog-text {
          color: $grey-2;
        }
        .progress {
          width: 100%;
          height: 0.45rem;
          background-color: $grey-4;
          margin-left: 1rem;
          position: relative;
          span {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $secondary;
            @include transition-ease;
            width: 60%;
          }
          .html {
            width: 80%;
          }
          .css {
            width: 90%;
          }
          .js {
            width: 75%;
          }
          .react {
            width: 80%;
          }
          .node {
            width: 90%;
          }
        }
      }
    }
  }
}

.stat-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 40%;
    height: 1px;
    background-color: $grey-5;
    transform: translateX(-50%);
  }
}
